body{
    background-color: rgb(0,31,63);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
    font-size: 25px; 
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form-container{
    background-color: rgb(192,192,192);
    text-align: center;
    padding: 10px;
    text-align: left;  
    width: 35%;
}
h2{
    margin: 0px 0px 50px 0px;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    color: rgb(12, 12, 12);
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    width: 250px;
    margin: 10px 0px;
    padding: 10px;
}
input[type="submit"]{
    width: 180px;
    background-color:rgb(0,31,63) ;
    border: 0px;
    color: white;
    font-size: 20px;
    margin-left: 110px;
    margin-top: 30px;
    
}
input[type="submit"]:hover{
    background-color: red;
}
select{
    width: 200px;
    margin: 10px 0px;
    padding: 10px;
}
.error-icon1,.error-icon2,.error-icon3,.error-icon4 {
    display: none;
    color: red;
    cursor: pointer;
}
.tooltip1,.tooltip2,.tooltip3,.tooltip4 {
    display: none;
    background-color:rgb(248, 41, 41);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 120px;
    position: absolute;
    z-index: 4;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    background-color: rgb(192,192,192);
    border: none;
    cursor: pointer;
}
p{
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}


/*-------------------------------- Modal Styling -------------------------------------*/
.container{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 1;   
    top: 1;
    width: 50%; 
    border: 2px solid rgb(192,192,192);
    border-style: groove;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 63vh;
    margin: 70px;
    color: white;
    padding: 80px;
    background-color: rgb(0,31,63);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.close{
    
    background-color:rgb(253, 101, 101);
    border-radius: 4px;
    color: white;
    padding: 10px;
    border: none;
    font-size: 20px;
    margin-top: 30px;
}
.close:hover{
    background-color: rgb(244, 3, 3);
}
h1{
    font-size: 40px;
}
#answer {
    font-size: 60px;
    padding: 20px;
    background-color: rgb(192,192,192);
    color: rgb(0,31,63);
    border-radius: 10px;
    
}
h5{
    font-size: 25px;
    margin-top: 20px;
    color: white;
    font-weight: normal;
}


@media only screen and (max-width:800px) {
    h2{
        font-size: 30px;
        margin-bottom: 40px;
    }
    body{
        font-size: 20px;
    }
    #form-container{
        width: 100%;
        height: 90%;
    }
    input{
        width: 90px;
    }
    select{
        width: 110px;
    }
    input[type="submit"]{
        margin-left: 10px;
        width: 90px;
    }
    h1{
        font-size: 25px;
        margin-left: 20px;
    }
    #answer{
        font-size: 25px;
        padding: 10px;
    }
    .container{
        padding: 10px;
        margin: 10px;
        height:700px ;
        margin-left: 50px;
        border: none;
        overflow: hidden;
    }
    h5{
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 5px;
    }
    .close{
        margin-top: 10px;
    }
}
